---
import { works } from "../ui/works";
import Layout from "../layouts/Layout.astro";
import StyledButton from "../components/General/StyledButton.astro";
import BackToTop from "../components/General/BackToTop";

import Header from "../components/Work/WorkDetails/Header.astro";
import PreviewDevices from "../components/Work/WorkDetails/PreviewDevices.astro";
import JobDone from "../components/Work/WorkDetails/JobDone.astro";

export function getStaticPaths() {
    return works.map(
        ({
            slug,
            title,
            link,
            description,
            jobDone,
            miniature,
            desktopShowcase,
            mobileShowcase,
            fullpageShowcase,
        }) => ({
            params: {
                slug,
            },
            props: {
                title,
                link,
                description,
                jobDone,
                miniature,
                desktopShowcase,
                mobileShowcase,
                fullpageShowcase,
                slug,
            },
        }),
    );
}

const {
    title,
    link,
    description,
    jobDone,
    miniature,
    desktopShowcase,
    mobileShowcase,
    fullpageShowcase,
    slug,
} = Astro.props;
---

<Layout title={title} starsCount={40} disableHeaderBg>
    <BackToTop client:load />
    <main class="p-4 lg:p-[100px] xl:p-desk flex flex-col items-center relative">
        <a
            href="/projects"
            class="text-xl font-light mb-8 w-full hover:text-primary transition-all"
            >&larr; Volver</a
        >
        <Header title={title} slug={slug} description={description} />
        <PreviewDevices desktopShowcase={desktopShowcase} mobileShowcase={mobileShowcase} title={title} />
        <JobDone jobDone={jobDone} />
        {link !== "" && <StyledButton link={link} text="Ver sitio" />}
        <img
            src={fullpageShowcase}
            alt={`Demostración de ${title}`}
            class="rounded-md"
        />
    </main>
</Layout>
